html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.full-screen {
  /* background-color: red; */
  height: 103vh !important;
  /* width: 100%; */
}

.editor {
  height: 103vh !important;
}

.zeropm {
  padding: 0 !important;
  margin: 0 !important;
}

input:focus{
  outline: none;
}

#searchfield {
  width: 400px;
  padding:1em;
  font-size:1.3rem;
  border-radius:10px;
  border-width:0px;
  border-style:hidden;
  background-color:#141314;
  border-color:#000000;
  color:#e6e6e6;
  box-shadow: 0px 0px 10px 0px rgba(14, 13, 13, 0.75);
}

.pasteInfo {
  min-width: 549px;
  max-width: 550px;
  width: auto;
  background-color: rgba(41, 41, 41, 1);
}

.autocomplete-container{
  border: none !important;
  border-radius: 0px 0px 10px 10px;
  border-width:0px;
  border-style:hidden;
  background-color:#141314 !important;
  border-color:#000000 !important;
  box-shadow: 0px 0px 10px 0px rgba(14, 13, 13, 0.75);
  overflow-x: hidden !important;
}

.suggest-item {
  padding-top: 0.3rem !important;
  display: flex;
  width: 100%;
  background-color:#141314;
  border-width:0px;
  border-style:hidden;
  border-color:#000000;
}

.suggest-item:hover {
  background-color:rgb(30,91,200) !important;
}

.autocomplete > div.selected {
  background-color: rgb(30,91,200) !important;
}

.autocomplete > div.selected > div.child > div.suggest-description {
  color: rgb(22, 22, 22) !important;
}

.autocomplete > div.selected > div.child:first-child > .suggest-icon {
  color:#cccccc !important;
}

.suggest-item:hover > div.child > div.suggest-description {
  color: rgb(22, 22, 22) !important;
}

.suggest-item:hover > div.child:first-child > .suggest-icon {
  color:#cccccc !important;
}

.child {
  flex: 1;
}

.child:first-child {
  margin-right: 3px;
  max-width: 2rem;
  text-align: center;
}

.suggest-icon {
  padding-top: 0.6rem;
  color:rgba(146, 146, 146, 1)
}

.suggest-title {
  color:#cccccc;
  font-size: 1.2rem !important;
}

.suggest-description {
  color:rgba(73, 73, 73, 1);
  font-size: 0.8rem !important;
}

#container {
  height: 100vh;
  /* width: 100vw; */
}

.monaco-editor {
  height: 100%;
  width: 100%;
}

#titlebar {
  width: 100vw;
  height: 2em;
  background-color: #1e1e1e;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  padding: 8px 0 0 10px;
  text-align: center;
}

#titlebar>div {
  font-family: Arial, Helvetica, sans-serif;
  color: #cccccc;
  border-radius: 0.3rem;
  padding: 0.1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 0.75rem;
}

#save {
    background-color: #569CD6; /* Green */
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#save:hover {
  background-color: #76afde;
  cursor: pointer;
}

.previewAlign {
  text-align: center;
}

#preview {
  overflow-y: scroll;
  overflow-x: scroll;
  overflow: scroll;
  max-height: 100vh;
  padding-top: 0.4rem;
  padding-bottom: 5.4rem;
  /* padding-right: 0px; */
}

#preview>svg {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.search-input {
  padding: 0.3rem;
}

.flex-centered {
  display: flex;
  justify-content: center;
  margin-top: 31px;
  height: 46px;
}

.mdpreview {
  padding-left: 2rem;
  padding-right: 2rem;
}

.timeout-progress {
  height: 3px !important;
}

#svg-controls {
  text-align: center;
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  background-color: #46302b;
  bottom:2rem;
}

.svg-ctrl{
  padding-top: 0.6rem;
}

.md-preview {
  padding-left:1rem;
}

#file-view {
  padding-left: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 10rem;
  background-color: #f0ece2;
}

#search-box {
  background-color: #46302b;
}

#center-col {
  z-index: 999;
}

.half-vertical {
  height: 50vh;
  overflow-y: scroll;
}

.v10-vertical {
  height: 10vh;
  overflow-y: hidden;
}

.v90-vertical {
  height: 90vh;
  overflow-y: scroll;
}

.v100-vertical {
  height: 100vh;
  overflow-y: scroll;
}

/* tree view */

.tree-view li {
  list-style: none;

  padding-bottom: 6px;
}

.tree-view ul {
  display: none;

  margin: 0;
  padding: 6px 0 0 18px;
}

.tree-view .selected > ul {
  display: block;
}

.tree-view .elem .chevron {
  transition: transform .1s ease-out;
  filter: brigthness(0.5)
}

.tree-view .selected > a > div > .chevron {
  transform: rotate(90deg);
}

.tree-view .active > a > div > span {
  font-weight: bolder !important;
}

.tree-view .header {
  text-decoration: none;
  text-transform: none !important;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 0.9rem;
  letter-spacing: normal !important;
}

.tree-view .header > div {
  position: relative;

  padding-left: 1rem !important;
}

.tree-view .header > div > img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem 0 0 -0.25rem !important;
}

/* split.js */

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 100;
  padding: 0.2rem !important;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  background-color: #4e5756;
}