.chat-control {
    display: block;
    position: inherit;
    /* position: absolute; */

    bottom: 33px;
    left: -10px;
    z-index: 999;
}

.chat-badge {
    position: relative;
    top: -15px;
    left: 15px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;

    width: 20px;
    height: 20px;
    display: inline-block;

    font-size: 13px;
    text-align: center;
    font-weight: bold;

    background: #E20000;
    color: white;

    border-radius: 100%;

    animation-name: redPulse;
    -webkit-animation-name: redPulse;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes redPulse {
    from { background-color: #E20000; }
    50% { background-color: #ffa09c;  }
    to { background-color: #E20000; }
}

.chat-icon {
    padding: 2px;
    color: #f4dada;;
    margin-left: -25px
}

.chat-icon:hover{
    color: #ffffff;
}

.chat-icon-open {
    color: #f4dada;
}


.chat-window {
    text-align: left;
    position: absolute;
    bottom: 80px;
    left: 20px;
    width: 250px;
    height: 300px;
    color: #000;
    background: white;
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    z-index: 4000;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.54);
    -moz-box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.54);
    box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.54);
}

.chat-window-title {
    text-align: center;
    padding-top: 9px;
    border-radius: 5px 5px 0px 0px;
    color: white;

    background-color: #0D6EFD;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
}

.chat-window-close {
    float: right;
    margin: 2px 9px 0px 0px;
    cursor: pointer;
}

.chat-window-close:hover {
    color: red;
}

.chat-messages {
    background: #f9f7f7;
    flex: 1;
    overflow: auto;
}

.chat-time {
    float: right;
    font-size: 12px;
}

.chat-user {
    font-size: 12px;
}

.chat-message {
    border-left: 3px solid;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid lightgrey;
    font-size: 13px;
}

.chat-input {
    width: 250px;
    padding: 5px;
    z-index: 4000;
    border-radius: 0px 0px 5px 5px;
    border-style: solid none none none;
    border-width: 1px;
    border-color: lightgray;
}

.chat-input:focus {
    outline: none;
}