.share-controls {
    display: inline-block;
    position: absolute;
    right: 265px;
    top: 10px;
    z-index: 100000;
    background-color: red;
}

.share-controls i {
    font-size: 16px;
    margin-top: 4px;
    margin-left: 2px;
}
