.share-controls {
    display: inline-block;
    position: inherit;
    margin-bottom: 4px;
    z-index: 99;
    color: #f4dada;
}

.share-controls:hover{
    color: #ffffff;
}

.share-controls i {
    margin-top: 4px;
    margin-left: 2px;
}
