.share-controls {
    display: inline-block;
    position: absolute;
    right: 100px;
    bottom: 35px;
    z-index: 99;
    color: #84A9C0;
}

.share-controls:hover{
    color: #627E90;
}

.share-controls i {
    margin-top: 4px;
    margin-left: 2px;
}
